<p>Here's all my dinos</p>

<form method="GET" action="/dinosaurs">
    <label for="nameFilter">Filter by Name</label>
    <input id="nameFilter" type="text" name="nameFilter">
    <input type="submit">
</form>

<ul>
    <% for (let idx = 0; idx < dinos.length; idx++) { %>
        <% let dino = dinos[idx] %>
        <p> name: <%= dino.name %></p>
        <p> type: <%= dino.type %></p>
        <form method="POST" action="/dinosaurs/<%= idx %>?_method=DELETE">
            <input type="submit" value="Delete">
        </form>
    <% } %>
</ul>